{% extends "index.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}/{{ author.url }}">
<meta name="twitter:title" content="{{ SITENAME }} ~ {{ author }}">
<meta name="twitter:description" content="Articles de {{ author }}">

<!-- Facebook Meta Data -->
<meta name="og:title" property="og:title" content="{{ SITENAME }} ~ {{ author }}" />
<meta name="og:description" property="og:description" content="Articles de {{ author }}" />
<meta name="og:image" property="og:image" content="{{ AVATAR }}" />
{% endblock head %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}